.CELULA{
	border-radius: 4px;
	width: 100px;
	height: 100px;
	display: inline-block;
}

#A1,#A2,#A3,#B1,#B2,#B3{
	border-bottom: solid black;
}

#C1,#C2,#C3,#B1,#B2,#B3{
	border-top: solid black;
}

#A2,#B2,#C2,#A3,#B3,#C3{
	border-left: solid black;
}

#A2,#B2,#C2,#A1,#B1,#C1{
	border-right: solid black;
}

.center-block {
	width:360px;
	height:360px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-180px;
	margin-left:-180px;
}

.O{	
    background-image:url("img/o.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.X{	
    background-image:url("img/x.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

/*.CELULA:hover {*/
/*	border: dashed green;*/
/*	color: #996633;*/
/*	cursor: pointer;*/
/*}*/

button:{
	border-radius:20px;
}

button:active {
	border: thin solid #99CC00;
	background-color: #F5FFD2;
	color: #669900;
	cursor: pointer;
}
